<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IInsumo" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IReceta" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IMovimiento" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProducto" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IEmpleado" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IProveedor" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ISolicitud" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IPedido" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILogin" maxReceivedMessageSize="52428800">
     <security mode="None">
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8081/Insumo" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IInsumo" contract="DoughMinderServicio.IInsumo"
    name="NetTcpBinding_IInsumo" />
   <endpoint address="net.tcp://localhost:8081/Receta" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IReceta" contract="DoughMinderServicio.IReceta"
    name="NetTcpBinding_IReceta" />
   <endpoint address="net.tcp://localhost:8081/Movimiento" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IMovimiento" contract="DoughMinderServicio.IMovimiento"
    name="NetTcpBinding_IMovimiento" />
   <endpoint address="net.tcp://localhost:8081/Producto" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProducto" contract="DoughMinderServicio.IProducto"
    name="NetTcpBinding_IProducto" />
   <endpoint address="net.tcp://localhost:8081/Empleado" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IEmpleado" contract="DoughMinderServicio.IEmpleado"
    name="NetTcpBinding_IEmpleado" />
   <endpoint address="net.tcp://localhost:8081/Proveedor" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IProveedor" contract="DoughMinderServicio.IProveedor"
    name="NetTcpBinding_IProveedor" />
   <endpoint address="net.tcp://localhost:8081/Solicitud" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ISolicitud" contract="DoughMinderServicio.ISolicitud"
    name="NetTcpBinding_ISolicitud" />
   <endpoint address="net.tcp://localhost:8081/Pedido" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IPedido" contract="DoughMinderServicio.IPedido"
    name="NetTcpBinding_IPedido" />
   <endpoint address="net.tcp://localhost:8081/Login" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILogin" contract="DoughMinderServicio.ILogin"
    name="NetTcpBinding_ILogin" />
  </client>
	</system.serviceModel>
</configuration>
