<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IInsumo">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IReceta">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMovimiento">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/Insumo" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IInsumo" contract="DoughMinderServicio.IInsumo"
                name="NetTcpBinding_IInsumo" />
            <endpoint address="net.tcp://localhost:8081/Receta" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IReceta" contract="DoughMinderServicio.IReceta"
                name="NetTcpBinding_IReceta" />
            <endpoint address="net.tcp://localhost:8081/Movimiento" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMovimiento" contract="DoughMinderServicio.IMovimiento"
                name="NetTcpBinding_IMovimiento" />
            <endpoint address="net.tcp://localhost:8081/Empleado" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IEmpleado" contract="DoughMinderServicio.IEmpleado"
                name="NetTcpBinding_IEmpleado" />
            <endpoint address="net.tcp://localhost:8081/Empleado" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IProveedor" contract="DoughMinderServicio.IProveedor"
                name="NetTcpBinding_IProveedor" />
        </client>
    </system.serviceModel>
</configuration>